* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    gap: 50px;
    position: relative;
}

.main-container .up {
    position: absolute;
    top: -100px;
}

.flexBox{
    display: flex;
}
