* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.drum-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
}

.drum {
    text-align: center;
    width: 150px;
    height: 150px;
    font-size: 2rem;
    background-color: antiquewhite;
}