img {
    width: 400px;
}

.container {
    position: relative;
    overflow: hidden;
    width: 400px;
    margin: auto;
}

.img-main {
    /* transform: translateX(-400px); */
    display: flex;
    transition: all 0.3s ease-in-out;
}